body {
	font: 1.6rem "Montserrat", sans-serif;
	min-width: 320px;
	width: 100%;
	font-weight: normal;
	position: relative;
	margin: 0 auto;
	overflow-x: hidden;
	color: #1d2228;
	padding-top: 9rem;
}
body.fixed {
	overflow: hidden;
	position: fixed;
}
main {
	display: block;
}
p {
	font-size: 1.6rem;
	line-height: 2.6rem;
}
.mfp-counter {
	display: none;
}
.dot {
	position: relative;
	z-index: 300;
}
.arrows {
	position: absolute;
	width: 110px;
	height: 32px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	bottom: 6rem;
	left: 0;
	right: 0;
	margin: auto;
}
.next, .prev {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 32px;
	z-index: 300;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.next {
	background-image: url("../img/next.png");
}
.next:hover {
	background-image: url("../img/next_hover.png");
}
.prev {
	background-image: url("../img/prev.png");
}
.prev:hover {
	background-image: url("../img/prev_hover.png");
}
.slider_wrapper {
	position: relative;
}
.slider_wrapper:after, .slider:after {
	content: "";
	display: table;
	clear: both;
}
.relative {
	position: relative;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
	border: none;
	background: none;
}
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, div, div:focus textarea, textarea:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.politics {
	background-color: #fff;
}
.politics p {
	font-size: 18px;
	color: #000;
}
.politics_text {
	padding: 20px 15px;
}
.politics h3 {
	background: #1782ab;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	margin: 0;
}
@media only screen and (max-width : 767px) {
	.politics h3 {
		font-size: 23px;
	}
}
.section_title {
	font-size: 3rem;
	text-align: center;
	margin-top: 0;
	color: #1d2228;
	font-weight: bold;
	margin: 0;
}
.section_title--white {
	color: #fff;
}
ul {
	list-style-type: none;
	padding: 0;
}
.footer {
	padding: 10.5rem 0 5.5rem;
	color: #fff;
	position: relative;
}
.footer:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1d2228;
}
.footer:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1d2228;
	background-image: url('../img/footer-bg-2.png');
	background-position: center 70%;
	background-repeat: no-repeat;
}
.footer .footer_wrapper {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.footer .section_title {
	margin-bottom: 5rem;
}
.footer .contact {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 24.5rem;
	-ms-flex: 0 0 24.5rem;
	flex: 0 0 24.5rem;
}
.footer .contact .section_title {
	text-align: left;
}
.footer .footer_tel {
	font-size: 2.4rem;
	line-height: 2.6rem;
	font-weight: bold;
}
.footer .contact_item:first-of-type {
	margin-bottom: 4.8rem;
}
.footer .contact_item img {
	margin-bottom: 2.2rem;
	display: block;
}
.footer .payment {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 67rem;
	-ms-flex: 0 0 67rem;
	flex: 0 0 67rem;
	text-align: center;
}
.footer .payment .payment_icon {
	margin-bottom: 1.8rem;
}

.footer .payment .section_title {
	text-align: center;
}
.footer .payment .liqpay {
	margin: 5.5rem auto;
	display: block;
}
.footer .payment strong {
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 2rem;
	display: inline-block;
}
.footer .payment .app-store {
	display: inline-block;
	margin: 0 15px;
}
.footer .map {
	text-align: right;
}
.footer .map .section_title {
	text-align: right;
	margin-bottom: 2rem;
}
.footer .map .map_list li {
	font-size: 1.8rem;
	line-height: 8.2rem;
	position: relative;
}
.footer .map .map_list li a {
	display: block;
}
.footer .map .map_list li:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #4a4a4a;
	width: 2.8rem;
	height: 1px;
}
.footer .map .map_list li:last-of-type:after {
	display: none;
}
.footer p {
	font-size: 1.8rem;
	margin: 0;
}
.footer .footer_bottom {
	font-size: 1.4rem;
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 13.5rem;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.footer .footer_bottom .footer_logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30rem;
	-ms-flex: 0 0 30rem;
	flex: 0 0 30rem;
	align-self: flex-end;
}
.footer .footer_bottom .policy {
	text-align: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 43rem;
	-ms-flex: 0 0 43rem;
	flex: 0 0 43rem;
}
.footer .footer_bottom .policy p {
	font-size: 1.4rem;
}
.footer .footer_bottom .policy a {
	text-decoration: underline;
}
.footer .footer_bottom .made_by {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30rem;
	-ms-flex: 0 0 30rem;
	flex: 0 0 30rem;
	text-align: right;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 9rem;
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
}
.footer .footer_bottom .made_by img {
	margin-left: 3rem;
}
.thanks {
	height: 76rem;
	max-height: -webkit-calc(100vh - 19rem);
	max-height: -moz-calc(100vh - 19rem);
	max-height: -ms-calc(100vh - 19rem);
	max-height: calc(100vh - 19rem);
	color: #000;
	background-image: url('../img/thanks-bg.jpg');
	background-repeat: no-repeat;
	background-position: center 9rem;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.thanks h4 {
	font-size: 4.8rem;
	font-weight: 500;
	margin-bottom: 4rem;
	margin-top: 0;
}
.thanks p {
	font-size: 2.4rem;
	line-height: 3.4rem;
	margin: 0;
}
.btn_main {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4rem;
	height: 6rem;
	line-height: 6rem;
	display: inline-block;
	text-align: center;
	width: 100%;
	max-width: 27rem;
	color: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	background-image: -webkit-linear-gradient(to bottom, #f7bd4b, #d86145);
	background-image: -moz-linear-gradient(to bottom, #f7bd4b, #d86145);
	background-image: -ms-linear-gradient(to bottom, #f7bd4b, #d86145);
	background-image: linear-gradient(to bottom, #f7bd4b, #d86145);
	border-radius: 30px;
	box-shadow: 0 3px 5px rgba(24,37,37,0.36);
}
.btn_main:hover {
	color: #fff;
	box-shadow: none;
}
.btn_main:focus {
	color: #fff;
}
.form {
	text-align: center;
}
.form_wrapper {
	margin: auto;
	position: relative;
	background-color: #58a493;
	width: 100%;
	max-width: 370px;
}
.form_wrapper h6 {
	color: #fff;
	font-weight: bold;
	font-size: 3rem;
	line-height: 4.8rem;
	margin: 0;
}
.form_wrapper p {
	color: #fff;
	font-size: 2.2rem;
	line-height: 3rem;
}
label.error {
	color: #d24f44;
	font-size: 14px;
	font-weight: normal;
	left: 0;
	bottom: -25px;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: normal;
}
.radio_input label.error {
	top: 100%;
}
.form input, .form textarea {
	width: 100%;
	max-width: 270px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-top: 15px;
	color: #000;
	border: 0;
	text-indent: 30px;
	height: 60px;
	font-size: 18px;
}
.form textarea {
	padding-top: 20px;
	height: 120px;
	resize: none;
}
.form button {
	width: 100%;
	max-width: 270px;
	margin-top: 15px;
	height: 60px;
}
.descr {
	color: #fefefe;
	font-size: 1.4rem;
	line-height: 2.4rem;
}
.header {
	background-color: #1d2228;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.header .header_wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 9rem;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.phone_icon,
.burger,
.mobile_menu,
.phone_menu {
	display: none;
}
.phone_menu {
	position: absolute;
	top: 160%;
	background-color: #1d2228;
	padding: 10px 0;
	left: -35px;
	width: 195px;
	text-align: center;
	border-radius: 5px;
}
.phone_menu:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50px;
	border: 5px solid transparent;
	border-bottom: 5px solid #1d2228;
}
.phone_menu a {
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
}
.mobile_menu_overlay {
	position: fixed;
	background-color: rgb(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 1001;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}
.mobile_menu {
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 40px 0px rgba(24, 37, 37, 0.13);
	position: absolute;
	left: 17px;
	top: 15px;
	width: -webkit-calc(100% - 35px);
	width: -moz-calc(100% - 35px);
	width: -ms-calc(100% - 35px);
	width: calc(100% - 35px);
	left: 0;
	right: 0;
	margin: auto;
	padding: 67px 0 50px;
	top: 15px;
}
.mobile_menu .close {
	width: 28px;
	height: 28px;
	background-image: url('../img/close.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 15px;
	right: 15px;
}
.burger {
	width: 35px;
	height: 30px;
	position: relative;
}
.burger span {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	left: 0;
}
.burger span:first-of-type {
	top: 0;
}
.burger span:nth-of-type(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}
.burger span:last-of-type {
	bottom: 0;
}
.logo {
	align-self: flex-start;
	height: 15.4rem;
	transition: height .3s;
}
.logo.scrolled {
	height: 100%;
}
.logo img {
	box-shadow: 0 0 40px rgba(24,37,37,0.26);
	height: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	width: auto;
}
.lang {
	margin: 0;
}
.lang li {
	border: 1px solid #c2c2c2;
	width: 4.8rem;
	height: 4.8rem;
	display: inline-block;
	color: #c2c2c2;
	font-size: 1.4rem;
	line-height: 4.6rem;
	text-align: center;
	cursor: pointer;
}
.lang li.active {
	border: 1px solid #fff;
	color: #fff;
}
.shopping_cart {
	cursor: pointer;
	border-radius: 5px;
	background-color: #d24f44;
	width: 14rem;
	height: 6rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fefefe;
	font-size: 1.6rem;
	font-weight: bold;
}
.shopping_cart:hover, .shopping_cart:visited {
	color: #fefefe;
}
.shopping_cart img {
	margin-right: 3px;
	display: inline-block;
}
.shopping_cart.empty {
	background-color: #898989;
	cursor: default;
}
.phone {
	color: #fff;
	text-align: right;
	margin-left: -4rem;
}
.phone a {
	font-weight: bold;
	font-size: 1.8rem;
	display: block;
	line-height: 1.6rem;
}
.phone a:first-of-type {
	margin-bottom: 3px;
}
.phone h6 {
	font-size: 1.4rem;
	margin-top: 0;
	margin-bottom: 3px;
}
.menu {
	padding: 1rem 0;
	background-color: #fff;
}
.menu ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
}
.menu ul li {
	color: #4b4b4b;
	font-size: 1.6rem;
	padding: 0 4.7rem;
	height: 7rem;
	text-align: center;
	position: relative;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-ms-transition: color .3s;
	transition: color .3s;
}
.menu ul li:hover {
	color: #d24f44;
}
.menu ul li i {
	font-size: 3.2rem;
}
.menu ul li.active i {
	font-weight: 600;
}
.menu ul li:active {
	color: #d24f44;
}
.menu ul li:after {
	content: "";
	position: absolute;
	height: 4rem;
	width: 1px;
	background-color: #dedede;
	right: 0;
	bottom: 0;
}
.menu ul li.active {
	font-weight: 600;
	color: #d24f44;
}
.menu ul li img {
	display: block;
	margin: 0 auto .7rem;
}
.menu ul li i {
	display: block;
	margin: 0 auto .7rem;
}
.menu ul li a {
	display: block;
	height: 100%;
}
.main_slider_wrapper {
	width: 1500px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0.017px 1px 95px 0px rgba(0, 0, 0, 0.29);
}
.main_banner {
	background-image: url('../img/main-bg.jpg');
	background-repeat: no-repeat;
	background-position: center 5rem;
	padding-bottom: 6rem;
}
.main_slider_wrapper .btn_main {
	position: absolute;
	bottom: 6rem;
	left: 15px;
}
.main_slider img.slick-slide {
	max-width: 100%;
}
.main_slider {
	max-width: 100%;
}
.main_slider_container {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
}
.work_time_wrapper {
	background-color: #fccc4c;
	background-image: url('../img/work-time.jpg');
	background-position: center;
	background-repeat: no-repeat;
}
.work_time {
	display: -webkit-box;
	height: 230px;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	color: #1d2228;
	font-size: 2.2rem;
}

.work_time .time h6 {
	font-weight: bold;
	font-size: 2.2rem;
}
.work_time .payment {
	font-size: 2.2rem;
	line-height: 3.6rem;
	font-weight: bold;
	text-align: center;
}
.delivery {
	position: relative;
	padding: 12rem 0 8rem;
	text-align: center;
	background-position: center top;
}
.delivery:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #1d2228;
}
.delivery:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/delivery.png');
	background-position: center 70%;
	background-repeat: no-repeat;
}
.delivery .container {
	position: relative;
}
.delivery p {
	color: #fff;
	margin-bottom: 0;
	margin-top: 3rem;
}
.delivery p:first-of-type {
	margin-top: 4rem;
}
.promotion {
	background-image: url('../img/promotion-bg.jpg');
	background-repeat: no-repeat;
	background-position: center 8rem;
	padding: 3rem 0 19rem;
}
.promotion--pict {
	border-radius: 5px;
	box-shadow: 0px 0px 40px 0px rgba(24, 37, 37, 0.13);
	height: 45.5rem;
	overflow: hidden;
	position: relative;
}
.promotion_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.322;
}
.promotion--text h4 {
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
}
.promotion--text p {
	margin: 3rem 0;
}
.promotion--text ol {
	padding-left: 18px;
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin-bottom: 3rem;
}
.promotion--pict img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.promotion .row {
	position: relative;
	padding-bottom: 4.2rem;
	margin-bottom: 4.2rem;
}
.promotion .row:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
}
.promotion .row:last-of-type .line {
	display: none;
}
.promotion .line {
	position: absolute;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: -ms-calc(100% - 30px);
	width: calc(100% - 30px);
	height: 1px;
	background-color: #dcdcdc;
	left: 15px;
	bottom: 0;
}
.review {
	background-image: url('../img/review-bg.jpg');
	background-repeat: no-repeat;
	background-position: center -200%;
}
.review .section_title {
	text-align: left;
}
.review .slick-list {
	padding: 6rem 0 15rem;
}
.review_item {
	border-radius: 5px;
	box-shadow: 0px 0px 20px 0px rgba(24, 37, 37, 0.13);
	height: 45.5rem;
}
.review_item img {
	width: 100%;
	max-height: 100%;
}
.photo {
	height: 21rem;
}
.photo:after {
	display: block;
	content: "";
	clear: both;
}
.photo img {
	float: left;
	width: 20%;
	object-fit: cover;
	height: 100%;
}
.drink {
	padding: 4rem 0 2.5rem;
}
.drink .col-md-3 {
	margin-bottom: 5.5rem;
}
.drink .section_title {
	margin-bottom: 6.5rem;
}
.region {
	padding: 6rem 0 15rem;
}
.region .section_title {
	margin-bottom: 3rem;
	text-align: left;
}
.region .region_subtitle {
	font-size: 1.8rem;
	font-weight: bold;
}
.region_wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
.region .region_col {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50rem;
	-ms-flex: 0 0 50rem;
	flex: 0 0 50rem;
	position: relative;
}
.region .region_col .region_bg {
	position: absolute;
	width: 316px;
	height: 316px;
	background-image: url('../img/region-bg.png');
	bottom: -45px;
	left: -193px;
}
.region .region_col img {
	max-width: 100%;
	position: relative;
}
.region .region_col:first-of-type {
	margin-right: 3rem;
}
.region .region_radius--item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-top: 3.5rem;
	padding-bottom: 3.5rem;
	position: relative;
}
.region .region_radius_title {
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
}
.region .region_radius--item::before {
	content: "";
	height: 1px;
	width: 43rem;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #e0e0e0;
}
.region .region_radius--item:first-of-type .region_radius_title {
	color: #f46400;
}
.region .region_radius--item:nth-of-type(2) .region_radius_title {
	color: #e6c12f;
}
.region .region_radius--item:last-of-type .region_radius_title {
	color: #d0c492;
}
.region .region_radius_title {
	font-size: 1.8rem;
	font-weight: bold;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	margin: 0;
	line-height: 2.6rem;
}
.region .region_radius--item p {
	-webkit-flex: 0 0 60%;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	margin: 0;
}
.region .region_address {
	font-size: 1.8rem;
	margin-top: 3rem;
}
.region .region_address p {
	margin-bottom: 3rem;
}
.region .region_address p:last-of-type {
	margin-bottom: 0;
}
.product {
	padding: 10rem 0 19rem;
	background-image: url('../img/product-pizza-bg.jpg');
	background-position: center 14rem;
	background-repeat: no-repeat;
}
body.sushi .product {
	background-image: url('../img/product-sushi-bg.jpg');
	background-position: center 43rem;
}
.product_item {
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 40px 0px rgba(24, 37, 37, 0.13);
	margin-top: 10.5rem;
}
.product_item--name {
	height: 6.5rem;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2rem;
	color: #1d2228;
	text-align: center;
}
.product_item--pict {
	height: 32rem;
	position: relative;
}
.product_item--pict span {
	position: relative;
	z-index: 2;
}
.product_item--pict .added_to_cart {
	position: absolute;
	top: 0;
	left: 0;
	height: 4.8rem;
	width: 4.4rem;
	background-color: #d86245;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	opacity: 0;
	transition: opacity 0.5s;
}
.product_item--pict .added_to_cart.visible {
	opacity: 1;
}
.product_item--pict .added_to_cart img {
	position: relative;
	z-index: 2;
}
.product_item--pict .added_to_cart:after {
	content: "";
	position: absolute;
	width: 4rem;
	left: 50%;
	top: 0;
	background-color: #d86245;
	height: 100%;
	transform: skew(-35deg);
}
.product_item--pict .product-image {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.product_item--weight {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4rem;
	width: 11.5rem;
	line-height: 4rem;
	padding-left: 1.8rem;
	background-color: #fccc4c;
	font-style: italic;
	font-weight: bold;
	color: #d86145;
	font-size: 1.6rem;
	cursor: default;
}
.product_item--weight:after {
	content: "";
	position: absolute;
	width: 3rem;
	right: -15px;
	top: 0;
	background-color: #fccc4c;
	height: 100%;
	transform: skew(35deg);
}
.product_item--size {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 4rem;
	width: auto;
	text-align: right;
	line-height: 4rem;
	padding-right: 1.8rem;
	padding-left: 1rem;
	background-color: #d86245;
	font-style: italic;
	font-weight: bold;
	font-size: 1.6rem;
	cursor: default;
}
.product_item--size.has_choice {
	padding-left: 0;
}
.product_item--size span.second_size {
	margin-left: 2rem;
}
.product_item--size:after {
	content: "";
	position: absolute;
	width: 3rem;
	left: -15px;
	top: 0;
	background-color: #d86245;
	height: 100%;
	transform: skew(-35deg);
}
.product_item--size span {
	color: #ee9d89;
	cursor: pointer;
}
.product_item--size span.active {
	color: #fccc4c;
}
.product_item--size span:before {
	background-color: #ee9d89;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 3px;
	content: "";
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}
.product_item--size span.active:before {
	background-color: #fccc4c;
}
.product_item--descr {
	position: relative;
	height: 8.4rem;
	padding: 1.2rem 3rem;
	font-size: 1.6rem;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
}
.product_item--descr p {
	line-height: 1.6rem;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product_item--descr a {
	color: #d24f44;
	font-weight: bold;
	line-height: 2.4rem;
	border-bottom: 1px solid #d24f44;
}
.product_item--footer {
	padding: 0 2rem;
}
.product_item--price {
	padding: 1.2rem 0 2.4rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.product_item--price .price {
	font-size: 3rem;
	font-weight: bold;
	color: #d24f44;
}
.product_item--price .choose {
	position: relative;
	width: 19rem;
}
.often_item--footer .choose {
	position: relative;
}
.product_item--price .quantity,
.often_item--footer .quantity {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.often_item--footer .quantity {
	left: auto;
}
.product_item--price .quantity input,
.often_item--footer .quantity input {
	border: 1px solid #dcdcdc;
	border-radius: 20px;
	width: 5.7rem;
	height: 4.7rem;
	text-align: center;
	user-select: none;
}
.product_item--price .quantity .btn_action,
.often_item--footer .quantity .btn_action {
	font-size: 3rem;
	font-weight: bold;
	color: #d86245;
	line-height: 3rem;
	padding: 2px 7px;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.product_item--price .quantity .btn_minus,
.often_item--footer .quantity .btn_minus {
	position: relative;
	top: -1px;
}
.product_item--price .quantity .btn_action.disabled,
.often_item--footer .quantity .btn_action.disabled {
	color: #8d8d8d;
}
.product_item .btn_main_product {
	width: 100%;
	position: relative;
	z-index: 2;
}
.product_item .btn_main_product.invisible {
	visibility: hidden;
}
.product_card {
	padding: 4rem 0 6rem;
	background-image: url('../img/prodduct-card-bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}
.product_card--pict {
	border-radius: 5px;
	box-shadow: 0px 0px 40px 0px rgba(24, 37, 37, 0.13);
	height: 45.5rem;
}
.product_card--pict img {
	width: 100%;
	height: 100%;
	object-fit: none;
}
.product_card--name {
	text-align: left;
}
.product_card--weight {
	font-size: 1.8rem;
	font-weight: bold;
}
.product_card--weight span:before {
	content: "";
	background-image: url('../img/weight.png');
	background-size: cover;
	display: inline-block;
	width: 2.2rem;
	height: 2.2rem;
	vertical-align: middle;
	margin-right: 1rem;
	position: relative;
	top: -1px;
}
.product_card--name_mobile {
	display: none;
}
.product_card--weight.mobile {
	display: none;
}
.product_card--descr {
	margin: 2rem 0 4.5rem;
}
.product_card--size {
	font-size: 0;
}
.product_card--size_btn {
	border: solid 1px #b3b3b3;
	border-radius: 2rem;
	width: 27.2rem;
	height: 4.2rem;
	color: #b3b3b3;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	line-height: 4.2rem;
	position: relative;
	padding-left: 2rem;
	cursor: pointer;
	display: inline-block;
}
.product_card--size_btn:first-of-type {
	margin-right: 1.5rem;
}
.product_card--size_btn.active {
	color: #fff;
	background-color: #d24f44;
	border: solid 1px #d24f44;
	cursor: default;
}
.product_card--size_btn:before {
	content: "";
	position: absolute;
	border-radius: 50%;
	background-color: #b3b3b3;
	width: 2.7rem;
	height: 2.7rem;
	bottom: 0;
	top: 0;
	left: 0.5rem;
	margin: auto 0;
}
.product_card--size_btn.active:before {
	background-color: #fccc4c;
}
.product_card--size_btn.active:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	background-color: #d86245;
	width: 1.1rem;
	height: 1.1rem;
	bottom: 0;
	top: 0;
	left: 1.3rem;
	margin: auto 0;
}
.product_card--adds {
	height: 6.5rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
	margin: 2.2rem 0;
}
.product_card--adds_btn {
	color: #d9674b;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	cursor: pointer;
}
.product_card--adds_btn img {
	margin-right: 8px;
}
.product_card--adds_title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-left: 7rem;
}
.product_card--adds_price {
	width: 10rem;
	text-align: center;
	background-color: #e8e8e8;
	font-size: 2.4rem;
	color: #d24f44;
	line-height: 4.6rem;
	font-weight: bold;
}
.product_card--adds_price span {
	vertical-align: middle;
}
.product_card--added {
	font-size: 1.4rem;
	font-weight: bold;
	position: relative;
	min-height: 3rem;
}
.product_card--added i {
	font-style: normal;
	content: "+";
	display: inline-block;
	color: #d9674b;
	font-size: 2.4rem;
	font-weight: bold;
	transform: rotate(45deg);
	vertical-align: middle;
	cursor: pointer;
}
.product_card--added span {
	vertical-align: middle;
}
.product_card--added_item {
	display: none;
	margin-right: 1rem;
}
.product_card--added_item.shown {
	display: inline-block;
}
.product_card--final {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	margin: 2.5rem 0;
}
.product_card--quantity span {
	font-size: 1.8rem;
	font-weight: bold;
	margin-right: 0.6rem;
}
.product_card--quantity {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.product_card--quantity .quantity {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.product_card--quantity .quantity input {
	border: 1px solid #dcdcdc;
	border-radius: 20px;
	width: 5.7rem;
	height: 4.7rem;
	text-align: center;
	background: transparent;
}
.product_card--quantity .quantity .btn_action {
	font-size: 3rem;
	color: #d86245;
	font-weight: bold;
	line-height: 3rem;
	padding: 2px 7px;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.product_card--quantity .quantity .btn_minus {
	position: relative;
	top: -1px;
}
.product_card--quantity .quantity .btn_action.disabled {
	color: #8d8d8d;
}
.product_card--promo {
	position: relative;
}
.product_card--promo .arrow {
	content: "";
	background-image: -webkit-linear-gradient(to bottom, #f7bd4b, #d86145);
	background-image: -moz-linear-gradient(to bottom, #f7bd4b, #d86145);
	background-image: -ms-linear-gradient(to bottom, #f7bd4b, #d86145);
	background-image: linear-gradient(to bottom, #f7bd4b, #d86145);
	margin: 0;
	width: 4.5rem;
	height: 4.5rem;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 50%;
}
.product_card--promo .arrow:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('../img/arrow-select.png');
	background-position: center;
	background-repeat: no-repeat;
	transition: .3s transform ease; 
}
.product_card--promo_dropdown.opened .arrow:before {
	transform: rotate(180deg);
}
.product_card--promo_dropdown {
	border: 1px solid #dcdcdc;
	width: 27rem;
	height: 4.5rem;
	border-radius: 2rem;
	background-color: #f9f9f9;
	color: #b6b6b6;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	text-indent: 4.2rem;
	outline: 0;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	transition: .1s border-radius ease;
}
.product_card--promo_dropdown.opened {
	border-radius: 2rem 2rem 0 0;
	border-bottom: 0;
}
.product_card--promo_value {
	line-height: 4.5rem;
}
.product_card--promo_list {
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	line-height: 4.5rem;
	display: none;
	background-color: #f9f9f9;
	border-radius: 0 0 2rem 2rem;
	border: 1px solid #dcdcdc;
	border-top: 0;
	z-index: 2;
}
.product_card--outcome {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.product_card--outcome .btn_main {
	max-width: 19rem;
}
.product_card--outcome_result {
	font-size: 3rem;
	font-weight: bold;
}
.product_card--outcome_result h6 {
	color: #d24f44;
}
.product_card--outcome_result * {
	display: inline-block;
}
.additives {
	padding: 8rem 0;
	position: relative;
}
.additives .container {
	position: relative;
}
.additives:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1600px;
	background-image: url('../img/prodduct-card-bg-2.jpg');
	background-repeat: no-repeat;
	background-position: center 165px;
}
.additives .section_title {
	margin-bottom: 3.5rem;
}
.additives_item {
	position: relative;
	border-radius: 5px;
	padding: 1rem 1px 1.2rem;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 40px 0px rgba(24, 37, 37, 0.13);
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin-top: 30px;
}
.additives_item .label_added {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #11b033;
	position: absolute;
	right: 2.5rem;
	top: -0.7rem;
	opacity: 0;
	transition: 0.3s opacity ease;
}
.additives_item .label_added.visible {
	opacity: 1;
}
.additives_item:before,
.additives_item:after {
	content: "";
	position: absolute;
	opacity: 0;
	right: -1.2rem;
	top: -1.2rem;
	width: 2.5rem;
	height: 2.5rem;
	transition: .3s opacity ease;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.additives_item:before {
	background-image: url('../img/add.png');
}
.additives_item:after {
	background-image: url('../img/delete.png');
}
.additives_item.added {
	opacity: 0.549;
	transition: .3s opacity ease;
}
.additives_item.added:hover {
	opacity: 1;
}
.additives_item:hover:before {
	opacity: 1;
}
.additives_item.added:after {
	opacity: 1;
}
.additives_item--title {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin: 0;
	height: 1.7rem;
	position: relative;
}
.additives_item--pict {
	height: 9rem;
	display: block;
	margin: 1rem auto 1.5rem;
}
  
.additives_item--info {
	font-size: 1.4rem;
	font-weight: bold;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0 1rem 0.6rem 1rem;
}
.additives_item--info_weight {
	color: #888888;
}
.additives_item--info_size {
	color: #d24f44;
}
.often {
	padding: 6rem 0 28rem;
	position: relative;
}
body.sushi .product_card {
	background-image: none;
	position: relative;
}
body.sushi .product_item--descr {
	height: 6rem;
}
body.sushi .product_card:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2000px;
	background-image: url('../img/prodduct-card-bg-3.jpg');
	background-position: center 0;
}
body.sushi .often {
	padding: 6rem 0 24rem;
}
body.sushi .additives {
	display: none;
}
body.sushi .product_card--final {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-box-align: flex-start;
    -webkit-flex-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
	align-items: flex-start;
	margin: 4rem 0 2.5rem;
}
body.sushi .product_card--promo {
	margin-bottom: 3rem;
}
body.sushi .product_card--outcome {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-box-align: flex-start;
    -webkit-flex-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
	align-items: flex-start;
}
body.sushi .product_card--outcome_result {
	margin-bottom: 3rem;
}
.often .arrows {
	bottom: -13rem;
}
.often .slick-list {
	padding-top: 7rem;
}
.often_item {
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(24, 37, 37, 0.13);
	width: 270px;
	height: 255px;
	padding: 15px 0;
}
.often_item img {
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}
.often_title {
	font-size: 2rem;
	font-weight: bold;
}
.often_item--footer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	margin: 20px 0;
}
.often_item--footer_price {
	font-size: 2.4rem;
	font-weight: bold;
	color: #d24f44;
}
.often_item--footer_btn {
	width: 17rem;
	height: 5.4rem;
	line-height: 5.4rem;
	position: relative;
}
.card {
	background-image: url('../img/card-bg.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 5rem 0 10rem;
}
.card .section_title {
	text-align: left;
}
.card h4 {
	font-size: 1.8rem;
	line-height: 2.8rem;
	font-weight: bold;
	margin: 0;
}
.card_form input {
	height: 5rem;
	border: 1px solid #b3b3b3;
	background-color: transparent;
	width: 100%;
	border-radius: 30px;
	text-align: center;
	padding: 0;
}
.card_form input.error {
	border-color: #d24f44;
}
.card_form .radio_input.error {
	top: 0;
	border-color: #d24f44;
}
.card_form .radio_input {
	height: 4rem;
	cursor: default;
	width: 100%;
	border: solid 1px #b3b3b3;
    border-radius: 2rem;
    width: 27.2rem;
    height: 4.2rem;
    color: #b3b3b3;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 4.2rem;
    position: relative;
    padding-left: 2rem;
	cursor: pointer;
	display: block;
	margin: 0;
	font-size: 1.6rem;
}
.card_form .radio_input:before {
	content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #b3b3b3;
    width: 2.7rem;
    height: 2.7rem;
    bottom: 0;
    top: 0;
    left: 0.5rem;
    margin: auto 0;
}
.card_form .radio_input.checked:after {
	content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #d86245;
    width: 1.1rem;
    height: 1.1rem;
    bottom: 0;
    top: 0;
    left: 1.3rem;
    margin: auto 0;
}
.card_form .row_margin {
	margin-bottom: 22px;
}
.card_form h4 {
	padding: 25px 0 55px;
}
.card_form .radio_input.checked:before {
	background-color: #fccc4c;
}
.card_form .radio_input.checked {
	color: #fff;
    background-color: #d24f44;
    border: solid 1px #d24f44;
}
.card_form .input_wrapper {
	position: relative;
}
.card_form .radio_input input {
	visibility: hidden;
	position: absolute;
	z-index: -1;
}
.card_form .subinput input {
	margin-top: 2rem;
}
.card_form .subinput .radio_input {
	margin-top: 2rem;
	font-weight: normal;
	color: #000;
	height: 5.4rem;
	line-height: 5.4rem;
	border-radius: 3rem;
}
.card_form .subinput {
	display: none;
}
.card_form textarea {
	width: 100%;
	border-radius: 30px;
	border: 1px solid #b3b3b3;
	background-color: transparent;
	text-align: center;
	resize: none;
	height: 11rem;
	margin: 30px 0;
	padding: 1.5rem;
}
.card_form input::-webkit-input-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_form input::-moz-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_form input:-ms-input-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_form input:-moz-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_form textarea::-webkit-input-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_form textarea::-moz-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_form textarea:-ms-input-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_form textarea:-moz-placeholder {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat";
}
.card_total {
	background-color: #f9f9f9;
	box-shadow: 0px 0px 40px 0px rgba(24, 37, 37, 0.13);
	padding: 5rem 2.6rem 3rem 3rem;
	position: relative;
	top: 0.7rem;
}
.card .form_total_price {
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
	line-height: 4.2rem;
}
.card .product_card--promo_dropdown {
	max-width: 100%;
}
.card .btn_main {
	margin-left: auto;
	margin-top: 12px;
	display: block;
}
.card .form_total_price span {
	color: #d24f44;
}
.card_total--table_item {
	padding: 2.5rem 0;
	border-bottom: 1px solid #e0e0e0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.card_total h4 {
	margin-bottom: 2.5rem;
}
.card_total--table_column {
	position: relative;
}
.card_total--table_column h6 {
	font-size: 1.6rem;
	line-height: 2.6rem;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 2.5rem;
	text-align: center;
}
.card_total--table_column h6.mobile {
	display: none;
}
.card_total--table_column:first-of-type h6 {
	font-weight: bold;
	font-size: 1.8rem;
	text-align: left;
}
.card_total--table_column:last-of-type h6,
.card_total--table_column:nth-of-type(2) h6 {
	margin-bottom: 6.7rem;
}
.card_total--table_column:nth-of-type(3) h6 {
	margin-bottom: 6rem;
}
.card_total--table_column span {
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-weight: bold;
}
.card_total .section_title {
	margin-bottom: 2.5rem;
}
.card .section_title.desktop_hidden {
	display: none;
}
.card_total--table_pict {
	max-width: 11rem;
	position: relative;
	height: 11rem;
}
.card_total--table_pict .delete {
	position: absolute;
    right: -1.2rem;
    top: -1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../img/delete.png);
	cursor: pointer;
}
.card_total--table_pict img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card_total--table_footer {
	text-align: right;
}
.card_total--table_footer h5 {
	margin: 1.5rem 0 1rem;
	font-size: 2.4rem;
	font-weight: bold;
}
.card_total--table_footer h5 span {
	color: #d24f44;
}
.card_total--table_footer i {
	font-style: italic;
	font-size: 1.4rem;
	color: #9e9e9e;
}
.card_total .quantity {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.card_total .quantity input {
	border: 1px solid #dcdcdc;
    border-radius: 20px;
    width: 5.7rem;
    height: 4.7rem;
    text-align: center;
	background: transparent;
	font-size: 1.8rem;
	width: 4.7rem;
	height: 3.9rem;
}
.card_total .quantity .btn_action {
	font-size: 2.4rem;
	color: #d86245;
	font-weight: bold;
    line-height: 3rem;
    padding: 2px 7px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/* .card_total .quantity .btn_action.disabled {
	color: #1d2228;
} */
.card_total .product_card--added {
	position: absolute;
	bottom: 0;
	left: 0;
	white-space: nowrap;
}
.card_total .product_card--added span {
	font-size: 1.4rem;
}
.card_total .product_card--added i {
	display: none;
}