/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	html {
		font-size: 9px;
	}
	body.sushi .product_card--final {
		margin: 2rem 0;
	}
	section h3 br,
	.region .region_col {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
	}
	.review .arrows {
		bottom: 5rem;
	}
	.region .region_col:first-of-type {
		margin-right: 0;
		padding-right: 30px;
	}
	.region .region_address p {
		margin-bottom: 4.2rem;
	}
	.phone {
		margin-left: 0;
	}
	.logo img {
		max-width: 13rem;
		max-height: 13rem;
	}
	.product_item--descr {
		padding: 1.2rem 0rem;
	}
	.product_item--price .price {
		font-size: 2.2rem;
	}
	.footer .contact {
		flex: 0 0 21rem;
	}
	.footer .payment {
		flex: 0 0 60rem;
	}
	.footer .footer_bottom .footer_logo {
		flex: 0 0 18rem;
	}
	.footer .footer_tel {
		font-size: 2rem;
	}
	.main_slider_wrapper .btn_main {
		bottom: 3rem;
	}
	.arrows {
		bottom: 4rem;
	}
	.product_card--size_btn {
		width: 24rem;
		font-size: 1.6rem;
	}
	.often_item {
		width: auto;
	}
	.product_card--promo_dropdown {
		text-indent: 3rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	footer .row div  {
		text-align: center;
	}
	body.sushi .product_card--final {
		margin: 1.8rem 0;
	}
	.main_banner {
		padding-bottom: 0;
	}
	.thanks p br {
		display: none;
	}
	.made_by p,
	.copyright p {
		font-size: 16px;
	}
	html {
		font-size: 8px;
	}
	.open_form {
		text-align: center;
	}
	.open_form h3 {
		text-align: center;
		margin-top: 0;
	}
	.open_form h3 br {
		display: none;
	}
	.open_form button {
		margin-top: 3rem;
	}
	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}
	.logo {
		height: 100%;
		width: auto;
	}
	.logo img {
		width: auto;
	}
	.open_form {
		height: auto;
		background-position: left top;
	}
	.open_form .open_form_left p {
		margin-left: auto;
		margin-right: auto;
	}
	section {
		padding: 60px 0;
	}
	.open_form .timer {
		margin-bottom: 4rem;
	}
	.open_form .main_btn {
		margin: 0 auto;
	}
	.open_form .timer__item {
		padding-top: 1.5rem;
	}
	.product_item--price .price {
		font-size: 3rem;
	}
	.product_item--descr {
		padding: 1.2rem 3rem;
	}
	.region .region_address p {
		margin-bottom: 2rem;
	}
	.region .region_radius_title {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 40%;
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
	}
	.region .region_radius--item p br {
		display: none;
	}
	.region .region_radius--item p br.needed {
		display: block;
	}
	.region .section_title {
		font-size: 22px;
	}
	.region .region_radius--item {
		margin-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
	.footer .footer_wrapper {
		display: block;
		text-align: center;
	}
	.footer p {
		margin: 0 auto;
	}
	.footer .map {
		text-align: center;
		margin-top: 30px;
	}
	.footer .map .section_title {
		text-align: center;
	}
	.footer .map .map_list {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: space-around;
		-webkit-justify-content: space-around;
		-ms-flex-pack: space-around;
		justify-content: space-around;
	}
	.footer .map .map_list li:after {
		display: none;
	}
	.footer .footer_bottom {
		height: auto;
		display: block;
	}
	.footer .footer_bottom .footer_logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer .footer_bottom .policy {
		text-align: left;
		width: 50%;
		float: left;
		padding-top: 4px;
	}
	.footer .footer_bottom .made_by {
		width: 50%;
		float: right;
		height: auto;
	}
	.footer .contact .section_title {
		text-align: center;
	}
	.footer .contact_item img {
		margin-left: auto;
		margin-right: auto;
	}
	.footer .payment .section_title {
		margin-top: 30px;
	}
	.footer .footer_tel {
		display: block;
		font-weight: normal;
	}
	.footer .payment .liqpay {
		display: none;
	}
	.footer .payment strong {
		display: block;
		margin: 30px 0;
	}
	.footer .contact_item {
		width: 50%;
		float: left;
	}
	.work_time .payment {
		width: 52%;
	}
	.work_time .btn_main {
		padding: 0 10px;
	}
	.main_slider_wrapper {
		padding-bottom: 90px;
	}
	.delivery {
		padding: 45px 0;
	}
	.delivery p br {
		display: none;
	}
	.additives .col-md-2 {
		width: 25%;
		float: left;
	}
	.additives .col-md-2:after {
		clear: both;
		content: "";
		display: table;
	}
	.product_card--size_btn {
		font-size: 1.3rem;
		width: 20rem;
	}

	.product_card--adds_title {
		margin-left: 1rem;
	}
	.product_card--promo_dropdown {
		width: 20rem;
		font-size: 1rem;
		text-indent: 1rem;
	}
	.product_card--quantity .quantity {
		margin-right: 1rem;
	}
	.product_card--quantity span {
		margin-right: 1rem;
	}
	.card_form .radio_input {
		font-size: 1.2rem;
	}
	.descr {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.product_item--pict {
		height: auto;
	}
	body.sushi .product_card:before {
		background: none;
	}
	body.sushi .product_item--descr p {
		margin-bottom: 0;
	}
	body.sushi .product_card--outcome {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	body.sushi .product_item--descr {
		height: auto;
	}
	body.sushi .product_card--outcome_result {
		width: 100%;
	}
	.product_card--weight {
		font-size: 18px;
	}
	.product_card--weight.desktop {
		display: none;
	}
	.product_card--weight.mobile {
		display: block;
		margin: 25px 0 10px;
	}
	.product_card--weight span:before {
		width: 22px;
		height: 22px;
	}
	.product_card--pict img {
		object-fit: unset;
	}
	.additives_item:hover:before {
		opacity: 0;
	}
	.shopping_cart {
		border-radius: 5px;
		height: 35px;
		width: 100px;
		font-size: 14px;
	}
	.shopping_cart img {
		height: 20px;
	}
	.footer:after {
		background-size: auto 100%;
	}
	.footer p {
		font-size: 14px;
		line-height: normal;
	}
	.footer .payment p {
		font-size: 14px;
		line-height: 24px;
	}
	.footer .section_title {
		margin-bottom: 22px;
	}
	.footer .contact_item:first-of-type {
		margin-bottom: 0;
	}
	.footer .footer_tel {
		font-size: 18px;
	}
	.footer .footer_tel:first-of-type {
		margin: 4px 0;
	}
	.footer .payment .section_title {
		margin-bottom: 15px;
	}
	.footer .payment strong {
		max-width: 270px;
		margin: 12px auto 20px;
		font-size: 14px;
		line-height: 24px;
	}
	.footer .map .map_list li {
		font-size: 14px;
	}
	.footer .footer_bottom .policy a {
		font-size: 14px;
		line-height: 22px;
	}
	.footer .footer_bottom .made_by {
		font-size: 14px;
	}
	.footer .footer_bottom .policy p {
		font-size: 14px;
		max-width: 230px;
		line-height: 22px;
	}
	.phone_icon,
	.burger,
	.mobile_menu {
		display: block;
	}
	.phone_icon {
		margin-left: 20px;
		position: relative;
	}
	.made_by {
		text-align: center;
	}
	.often .arrows {
		display: none;
	}
	.often {
		padding: 0 0 10rem;
	}
	.thanks {
		height: 76rem;
		max-height: -webkit-calc(100vh - 152.5px);
		max-height: -moz-calc(100vh - 152.5px);
		max-height: -ms-calc(100vh - 152.5px);
		max-height: calc(100vh - 152.5px);
		background-image: url('../img/thanks-bg-mob.jpg');
		background-size: 100% auto;
	}
	.thanks h4 {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.thanks p {
		font-size: 14px;
		line-height: 24px;
		max-width: 350px;
	}
	.review_item {
		height: 455px;
	}
	.promotion {
		padding: 0 0 70px;
	}
	.promotion .row {
		padding-bottom: 30px;
		margin-bottom: 40px;
	}
	.promotion--pict {
		margin-bottom: 40px;
	}
	.promotion--text p {
		margin: 30px 0;
	}
	footer {
		text-align: center;
	}
	html {
		font-size: 7.5px;
	}
	section {
		padding: 40px 0;
	}
	footer .row {
		display: block;
	}
	.region .section_title {
		font-size: 18px;
		text-align: center;
	}
	.region .region_subtitle {
		font-size: 16px;
	}
	.region_wrapper {
		display: block;
		text-align: center;
	}
	.region .region_radius--item {
		display: block;
	}
	.region .region_radius--item p {
		margin: 0 auto;
	}
	.region .region_radius--item::before {
		width: 100%;
		max-width: 500px;
		left: 0;
		right: 0;
		margin: auto;
	}
	.region .region_col img {
		margin-top: 30px;
	}
	.region {
		padding: 30px 0 80px;
	}
	.region .region_col:first-of-type {
		padding-right: 0;
	}
	.footer .payment .app-store {
		max-width: 48%;
		margin: 0;
	}
	.footer .footer_bottom .policy {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.footer .footer_bottom .policy a {
		text-decoration: underline;
	}
	.footer .footer_bottom .made_by {
		display: block;
		text-align: center;
		width: 100%;
	}
	.footer .footer_bottom .made_by img {
		margin: 10px auto 0;
		display: block;
	}
	.footer .footer_bottom .made_by br {
		display: none;
	}
	.footer {
		padding: 30px 0;
	}
	.footer .footer_tel:last-of-type {
		margin-bottom: 30px;
	}
	.logo img {
		max-width: 75px;
		position: relative;
		height: 100%;
		left: -15px;
		width: auto;
	}
	.header .header_wrapper {
		height: 70px;
	}
	.phone,
	.lang {
		display: none;
	}
	.mobile_menu_overlay .lang {
		display: block;
	}
	.lang li {
		width: 48px;
		height: 48px;
		line-height: 46px;
		font-size: 14px;
	}
	.lang li:first-of-type {
		margin-right: 25px;
	}
	.lang li.active {
		color: #1d2228;
		font-weight: bold;
		border-color: #1d2228;
	}
	.mobile_menu_overlay .menu ul {
		display: block;
	}
	.mobile_menu_overlay .menu ul li {
		width: 50%;
		float: left;
		text-align: center;
		font-size: 16px;
		font-weight: normal;
		margin-bottom: 20px;
		height: 70px;
	}
	.mobile_menu_overlay .menu ul li:after {
		display: block;
		height: 40px;
	}
	.mobile_menu_overlay .mobile_phone h6 {
		font-size: 16px;
		line-height: 28px;
		color: #4b4b4b;
	}
	.mobile_menu_overlay .mobile_phone a {
		font-size: 16px;
		font-weight: bold;
		color: #4b4b4b;
		display: block;
	}
	.mobile_menu_overlay .menu ul li.active {
		font-weight: bold;
	}
	.mobile_menu_overlay .menu ul li i {
		display: block;
		font-size: 32px;
	}
	.shopping_cart {
		margin: 0 30px 0 auto;
	}
	.mobile_menu_overlay .menu {
		padding: 40px 0 20px;
		background-color: transparent;
		max-width: 270px;
		margin: 0 auto;
	}
	.mobile_menu_overlay {
		overflow: auto;
		padding: 15px;
	}
	.logo.scrolled {
		height: 100%;
	}
	.logo {
		height: 75px;
	}
	.menu {
		padding: 15px 0 0;
	}
	.menu {
		overflow: auto;
	}
	.menu ul {
		-webkit-box-pack: flex-start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: flex-start;
		justify-content: flex-start;
		margin: 0 -15px;
		padding-bottom: 15px;
	}
	.menu ul li {
		font-size: 16px;
		font-weight: bold;
		padding: 0 12px;
		height: auto;
	}
	.menu ul li:after,
	.menu ul li i {
		display: none;
	}
	.work_time .btn_main {
		padding: 0;
	}
	.main_slider_wrapper {
		padding-bottom: 60px;
	}
	.main_slider_wrapper .btn_main {
		display: none;
	}
	.main_slider_container {
		display: none;
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0!important;
	}
	.slick-dots {
		bottom: -43px!important;
	}
	.slick-dots li button:before {
		font-size: 10px!important;
		color: #c2c2c2!important;
		opacity: 1!important;
	}
	.slick-dots li.slick-active button:before {
		color: #ce4d43!important;
	}
	.product_item {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.product_item--name {
		height: 60px;
		font-size: 18px;
	}
	.product_item--footer {
		padding: 0 17px;
	}
	.product_item--descr {
		height: auto;
		padding: 12px 0;
		font-size: 14px;
	}
	.product_item {
		margin-top: 15px;
	}
	.product .section_title {
		margin-bottom: 5px;
	}
	.section_title {
		font-size: 18px;
	}
	.section_title br {
		display: none;
	}
	.product_item--descr p {
		font-size: 14px;
		line-height: 14px;
		max-width: 220px;
	}
	.product_item--price .price {
		font-size: 24px;
	}
	.btn_main {
		font-size: 14px;
		height: 54px;
		line-height: 54px;
	}
	.product_item--weight,
	.product_item--size {
		font-size: 14px;
		height: 35px;
		line-height: 35px;
	}
	.product_item--weight:after,
	.product_item--size:after {
		width: 4rem;
	}
	/* .product_item--size {
		width: 12rem;
	} */
	.product {
		padding: 30px 0;
	}
	p {
		font-size: 14px;
		line-height: 26px;
	}
	.photo {
		height: auto;
	}
	.photo img {
		display: none;
		float: none;
		height: auto;
		width: 100%;
	}
	.photo img:first-of-type {
		display: block;
	}
	.work_time .time,
	.work_time .payment {
		display: none;
	}
	.work_time {
		display: block;
		height: auto;
		padding: 30px 0;
	}
	.work_time .btn_main {
		height: 60px;
		line-height: 60px;
		margin: 0 auto;
		display: block;
	}
	.work_time_wrapper {
		background-position: 100% 100%;
		background-size: cover;
	}
	.product_card--name {
		display: none;
		height: 60px;
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.product_card {
		background: none;
	}
	.product_card--name_mobile {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
	}
	.product_card--pict {
		height: auto;
	}
	.product_card--descr {
		background-color: #f9f9f9;
		padding: 20px;
		margin: 0 0 20px 0;
		font-size: 14px;
		box-shadow: 0px 0px 40px 0px rgba(24, 37, 37, 0.13);
		text-align: center;
	}
	.product_card--size_btn {
		display: block;
		width: 270px;
		height: 40px;
		font-size: 18px;
		border-radius: 20px;
		line-height: 40px;
		margin: 0 auto 10px auto!important;
	}
	.product_card--size_btn:before {
		width: 27px;
		height: 27px;
		left: 5px;
	}
	.product_card--size_btn.active:after {
		width: 11px;
		height: 11px;
		left: 13px;
	}
	.product_card--adds {
		height: auto;
		display: block;
	}
	.product_card--adds_btn {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 10px 0;
		font-size: 14px;
	}
	.product_card--adds_btn span br {
		display: none;
	}
	.product_card--adds_price {
		float: right;
		font-size: 18px;
	}
	.product_card--adds:after {
		clear: both;
		content: "";
		display: table;
	}
	.product_card--adds_title {
		float: left;
		padding-top: 6px;
		font-size: 14px;
	}
	.product_card--adds_title br {
		display: none;
	}
	.product_card--added {
		font-size: 14px;
	}
	.product_card--adds {
		border-bottom: 0;
	}
	.product_card--added {
		border-bottom: 1px solid #888888;
		padding-bottom: 10px;
	}
	.product_card--final {
		display: block;
	}
	.product_card--quantity {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.product_card--quantity span {
		font-size: 18px;
	}
	.product_card--quantity .quantity input {
		width: 57px;
		height: 47px;
		font-size: 18px;
	}
	.product_card--quantity .quantity .btn_action {
		font-size: 30px;
	}
	.additives .col-md-2 {
		width: 33.33%;
	}
	.additives_item--title,
	.additives_item--info_size,
	.additives_item--info_weight {
		font-size: 14px;
	}
	.additives_item {
		height: 140px;
		box-shadow: none;
	}
	.additives_item--pict {
		margin-top: 3rem;
	}
	.product_card {
		padding: 0;
	}
	.product_card--outcome {
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.product_card--outcome_result {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.product_card--outcome_result .section_title {
		font-size: 24px;
	}
	.product_card--outcome .btn_main {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 170px;
		margin: 0 auto;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}
	.product_card--promo_dropdown {
		height: 45px;
		width: 270px;
		text-indent: 42px;
		font-size: 12px;
		border-radius: 20px;
	}
	.product_card--promo_value {
		line-height: 45px;
	}
	.product_card--promo .arrow {
		height: 45px;
		width: 45px;
	}
	.product_card--promo {
		max-width: 270px;
		margin: 20px auto 0;
	}
	.product_card--promo_list {
		border-radius: 0 0 20px 20px;
	}
	.product_card--promo_dropdown.opened {
		border-radius: 20px 20px 0 0;
	}
	.often_title {
		font-size: 20px;
		text-align: center;
	}
	.often_item--footer_price {
		font-size: 24px;
	}
	.often_item--footer_btn {
		width: 170px;
	}
	.often .slick-list {
		padding-bottom: 20px;
	}
	.card {
		padding: 0 0 90px;
	}
	.card_total {
		margin: 0 -15px;
		position: relative;
		top: -100%;
		padding: 20px 7px 20px 17px;
	}
	.card_wrapper {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.card .section_title.desktop_hidden {
		display: block;
		margin: 10px 0 15px;
	}
	.card h4 {
		font-size: 18px;
		text-align: center;
	}
	.card_total--table_column:first-of-type h6 {
		display: none;
	}
	.card .card_form .section_title {
		display: none;
	}
	.card_total--table_column h6 {
		font-size: 14px;
	}
	.card_total--table_column:last-of-type h6,
	.card_total--table_column:nth-of-type(2) h6 {
		margin-bottom: 16px;
	}
	.card_total--table_column:nth-of-type(3) h6 {
		margin-bottom: 10px;
	}
	.card_total .product_card--added span {
		font-size: 14px;
	}
	.card_total .product_card--added {
		border-bottom: 0;
		padding-bottom: 0;
	}
	.card_total--table_footer h5 {
		font-size: 18px;
	}
	.card_total--table_footer i {
		font-size: 14px;
		max-width: 242px;
		display: inline-block;
	}
	.card_form input {
		height: 50px;
		max-width: 270px;
		margin: 0 auto 10px;
		display: block;
	}
	.card_form textarea {
		height: 110px;
		max-width: 270px;
		margin: 0 auto 10px;
		display: block;
	}
	.card_form .radio_input {
		height: 40px;
		width: 270px;
		margin: 0 auto 10px;
		display: block;
		border-radius: 20px;
		line-height: 40px;
		font-size: 16px;
	}
	.card_form .radio_input:before {
		width: 27px;
		height: 27px;
		left: 5px;
	}
	.card_form .radio_input.checked:after {
		width: 11px;
		height: 11px;
		left: 13px;
	}
	.card_form .row_margin {
		margin-bottom: 0;
	}
	.card_form h4 {
		padding: 50px 0 42px;
	}
	.card_form .product_card--promo {
		margin-top: 0;
	}
	.card .form_total_price {
		font-size: 18px;
		margin: 50px 0 25px;
	}
	.card .btn_main {
		max-width: 270px;
		margin: 0 auto;
	}
	.card_total--table_column h6.desktop {
		display: none;
	}
	.card_total--table_column h6.mobile {
		display: block;
	}
}
@media only screen and (max-width : 580px) {
	.footer .contact_item {
		width: 100%;
	}
	.footer .contact_item img {
		display: none;
	}
	.often_item {
		max-width: 270px;
		margin: 0 auto 20px;
	}
	.review_item {
		max-width: 270px;
		margin: 0 auto;
	}
	.review .section_title {
		text-align: center;
		margin: 30px 0;
	}
	.review .slick-list {
		padding-top: 0;
	}
	.often_title,
	.often_item--footer {
		max-width: 270px;
    	margin: 0 auto;
	}
	.often_title {
		margin-bottom: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.made_by p, .copyright p {
		font-size: 14px;
	}
	.share .timer__item {
		margin-right: 1rem;
		width: 60px;
		height: 60px;
	}
	.share .timer__item:last-of-type {
		margin-right: 0;
	}
	button#videoButton {
		width: 5rem;
		height: 5rem;
	}
	.open_form .timer__item {
		height: 60px;
		width: 60px;
		padding-top: 1rem;
	}
	section h3 {
		font-size: 2.8rem;
	}
	.open_form .timer__item {
		margin-right: 1rem;
	}
	.footer .payment .payment_icon {
		max-width: 42px;
	}
	.additives .col-md-2 {
		width: 50%;
	}
}

@media only screen and (max-width : 369px) {
	h1 {
		font-size: 2.4rem;
		line-height: 3.4rem;
	}
	section h3 {
		font-size: 2.4rem;
	}
	.phone_icon {
		margin-left: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		width: 1200px;
	}
}